.background {
  margin-Top: 65px;
  text-align: center;
  background-color: #9EAEB8;
  height: 100vh;
}

.createPackageForm {
  margin-top: 20px;
  background-color: white;
  border: 2px solid #3C5A6B;
}

.styled-header{
    text-align: left;
    color:#3C5A6B;
}

#create{
  background-color: #3C5A6B;
  border: solid 2px #3C5A6B;
  position: relative;
  left: 230px;
}

#createPackage{
  position: relative;
  right: 50;
  background-color: #3C5A6B;
  border: solid 2px #3C5A6B;
}