
.wrapper{
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar{
 width: 175px;
 height: 100vh;
position: fixed;
margin-top:75px;
background-color: #3C5B6F;
z-index: 1;

}

.menu-item {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.link{
  color:white;
}

.link:hover {
  color: grey;
}

#sticky{
  position: fixed;
  top: 0;
  z-index: 2;
}

.navbar{
  background-color: white;
  width: 100%
}