/* Styling copied and then adjusted from react-burger-docs */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  font-size: 35px;
  margin-bottom: 20px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #3C5B6F;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #3C5B6F;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

